/* 色票 */
#colors {
    /* from https://coolors.co/37515f-e83f6f-cfbae1-49dcb1-eeb868 */
    color: #37515F;
    color: #E83F6F;
    color: #CFBAE1;
    color: #49DCB1;
    color: #EEB868;

    /* 自訂顏色 */
    color: #ea7495;
    color: #ffe7c4;
    color: #abe2ff;
}

body, h1 {
    margin: 0;
    background-color: #ffe7c4;
}

header {
    position: fixed;
    top: 1vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    margin: 2vw;
}

h1 {
    width: 90vw;
    text-align: center;
    padding: 2vw;
    background-color: #ea7495;
    font-size: 10vw;
    border-radius: 10vw;
}

main {
    position: relative;
    top: 10vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.carousel {
    margin: 5vw;
}

h2 {
    display: block;
    margin: 5vw;
    padding: 2vw;
    text-align: center;
    width: 70vw;
    border-radius: 10vw;
    background-color: #49DCB1;
    font-size: 7vw;
}

p {
    display: block;
    width: 70vw;
    margin: 5vw;
    padding: 2vw;
    background-color: #CFBAE1;
    font-size: 5vw;
}

.picContainer {
    width: 70vw;
    margin: 5vw;
    padding: 2vw;

    background-color: #abe2ff;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pic {
    width: 20vw;
    margin: 1vw;
}

.picBig {
    width: 65vw;
    margin: 1vw;
}

.biggerPic {
    width: 65vw;
}

.nav {
    position: fixed;
    right: 1.5vh;
    bottom: 1.5vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    background-color: #CFBAE1;
    font-size: 5vw;
    border-radius: 10vw;
    padding: 2vw;
}

a, a:hover, a:visited, a:link, a:active  {
    text-decoration: none;
    color: #000;
}